/* custom */
.header-area {
  background-color: #666; }

.accounts-management {
  padding: 20px; }
  .accounts-management .header {
    display: flex;
    flex-direction: column; }
    .accounts-management .header h2 {
      margin-bottom: 1rem; }
    .accounts-management .header .search-box {
      width: 576px; }
      .accounts-management .header .search-box input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .accounts-management .header .search-box button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .accounts-management .header .filters {
      width: 100%; }
      .accounts-management .header .filters .row {
        margin-bottom: 1rem; }
        .accounts-management .header .filters .row .col {
          padding: 0 0.5rem; }
  .accounts-management .table-accounts {
    max-height: 500px;
    position: relative;
    margin-top: 1rem; }
  .accounts-management .table thead {
    position: sticky;
    top: 0;
    z-index: 999; }
  .accounts-management .table th {
    white-space: nowrap; }
  .accounts-management .table .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .accounts-management .table .btn-group .btn {
    padding: 0.25rem 0.5rem; }
  .accounts-management .table #accountsTable {
    max-height: 500px;
    overflow-y: auto; }
  .accounts-management .form-select,
  .accounts-management .form-control {
    width: 100%; }
  .accounts-management .pagination {
    margin-bottom: 0; }

#userDetailsModal .modal-dialog {
  max-width: 800px; }
