/* custom */
.wrapper-login {
  background: url("/vender/images/welcome-hero/welcome-banner.jpg") no-repeat center center fixed;
  height: 100vh;
  display: flex; }

.wrapper-login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1; }

.wrapper-login > * {
  position: relative;
  z-index: 2; }

.wrapper-side {
  padding: 0 160px; }

.btn-social {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-social img {
    width: 24px;
    height: 24px; }
