/* custom */
.wrapper-login {
  background: url("/vender/images/welcome-hero/welcome-banner.jpg") no-repeat center center fixed;
  height: 100vh;
  display: flex; }

.wrapper-login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1; }

.wrapper-login > * {
  position: relative;
  z-index: 2; }

.btn-back {
  position: absolute;
  top: 24px;
  left: 28px;
  color: #fff; }
  .btn-back:hover {
    opacity: 0.8; }
