<section class='wrapper-contact' data-scroll-index='7'>
    <div class='overlay pt-100 pb-100'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-6 d-flex align-items-center'>
                    <div class='contact-info'>

                        <h2 class='contact-title'>Have Any Questions?</h2>
                        <p>Lorem ipsum is a dummy text used to replace text in
                            some areas just for the purpose of an example. It
                            can be used in publishing and graphic design. The
                            lorem ipsum text is usually a section of a Latin
                            text by Cicero with words altered, added and removed
                            to make it nonsensical.</p>
                        <ul class='contact-info'>
                            <li>
                                <div class='info-left'>
                                    <i class='fa fa-phone'></i>
                                </div>
                                <div class='info-right'>
                                    <h4>+0893853224</h4>
                                </div>
                            </li>
                            <li>
                                <div class='info-left'>
                                    <i class='fa fa-envelope'></i>
                                </div>
                                <div class='info-right'>
                                    <h4>car.service@gmail.com</h4>
                                </div>
                            </li>
                            <li>
                                <div class='info-left'>
                                    <i class='fa fa-map-marker'></i>
                                </div>
                                <div class='info-right'>
                                    <h4>Thu Duc, Ho Chi Minh City</h4>
                                </div>
                            </li>
                        </ul>
                        <div class='social-media-links'>
                            <a href='#' id='ix94i-2'>
                                <img
                                    class='link-img'
                                    src='https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png'
                                />
                            </a>
                            <a href='#'>
                                <img
                                    class='link-img'
                                    src='https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png'
                                />
                            </a>
                            <a href='#'>
                                <img
                                    class='link-img'
                                    src='https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png'
                                />
                            </a>
                            <a href='#' id='izldf-2'>
                                <img
                                    class='link-img'
                                    src='https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png'
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <div class='col-lg-6 d-flex align-items-center'>
                    <div class='contact-form'>
                        <!--Contact Form-->
                        <form id='contact-form' method='POST'><input
                                type='hidden'
                                name='form-name'
                                value='contactForm'
                            />
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <input
                                            type='text'
                                            name='name'
                                            class='form-control'
                                            id='first-name'
                                            placeholder='Enter Your Name *'
                                            required='required'
                                        />
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <input
                                            type='email'
                                            name='email'
                                            class='form-control'
                                            id='email'
                                            placeholder='Enter Your Email *'
                                            required='required'
                                        />
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <textarea
                                            rows='4'
                                            name='message'
                                            class='form-control'
                                            id='description'
                                            placeholder='Enter Your Message *'
                                            required='required'
                                        ></textarea>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <!--contact button-->
                                    <button class='btn-big btn btn-bg'>
                                        Send Us
                                        <i class='fa fa-arrow-right'></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>