<div class='container-fuild welcome-hero'>
    <div class='welcome-hero-txt'>
        <h2>Sở hữu chiếc xe bạn mong muốn với mức giá hợp lý</h2>
        <p>
            Chúng tôi cung cấp các dòng xe đa dạng, từ những mẫu xe phổ thông
            đến cao cấp, phù hợp với nhu cầu và ngân sách của bạn.
        </p>
        <button
            class='welcome-btn'
            onclick="window.location.href='/dashboard/contact'"
        >
            Liên hệ ngay
        </button>
    </div>
</div>

{{! <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="model-search-content">
              <div class="row">
                <!-- Select Year -->
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>Chọn năm</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Năm</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                      </select>
                    </div>
                  </div>
                  <!-- Select Body Style -->
                  <div class="single-model-search">
                    <h2>Kiểu dáng</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Chọn kiểu dáng</option>
                        <option value="sedan">Sedan</option>
                        <option value="suv">SUV</option>
                        <option value="truck">Truck</option>
                        <option value="roadster">Roadster</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- Select Make -->
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>Hãng xe</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Chọn hãng</option>
                        <option value="toyota">Toyota</option>
                        <option value="honda">Honda</option>
                        <option value="ford">Ford</option>
                        <option value="mercedes-benz">Mercedes-Benz</option>
                      </select>
                    </div>
                  </div>
                  <!-- Select Condition -->
                  <div class="single-model-search">
                    <h2>Tình trạng</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Chọn tình trạng</option>
                        <option value="new">Xe mới</option>
                        <option value="used">Đã qua sử dụng</option>
                        <option value="certified">Xe bảo hành</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- Select Model -->
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>Mẫu xe</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Chọn mẫu</option>
                        <option value="kia-rio">Kia Rio</option>
                        <option value="mitsubishi">Mitsubishi</option>
                        <option value="ford-ecosport">Ford Ecosport</option>
                      </select>
                    </div>
                  </div>
                  <!-- Select Price -->
                  <div class="single-model-search">
                    <h2>Mức giá</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">Chọn mức giá</option>
                        <option value="under-200">Dưới 200 triệu</option>
                        <option value="200-500">200 - 500 triệu</option>
                        <option value="above-500">Trên 500 triệu</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- Search Button -->
                <div class="col-md-2 col-sm-12">
                  <div class="single-model-search text-center">
                    <button
                      class="welcome-btn model-search-btn"
                      onclick="window.location.href='#'"
                    >
                      Tìm kiếm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> }}

<section id='service' class='service'>
    <div class='container'>
        <div class='service-content'>
            <div class='row'>
                <div class='col-md-4 col-sm-6'>
                    <div class='single-service-item'>
                        <div class='single-service-icon'>
                            <i class='flaticon-car'></i>
                        </div>
                        <h2><a href='#'>Hệ thống đại lý ô tô lớn nhất</a></h2>
                        <p>
                            Cung cấp đa dạng mẫu mã với dịch vụ chăm sóc khách
                            hàng tận tình và chu đáo.
                        </p>
                    </div>
                </div>
                <div class='col-md-4 col-sm-6'>
                    <div class='single-service-item'>
                        <div class='single-service-icon'>
                            <i class='flaticon-car-repair'></i>
                        </div>
                        <h2><a href='#'>Bảo hành sửa chữa không giới hạn</a></h2>
                        <p>
                            Dịch vụ bảo hành và sửa chữa tận nơi cho khách hàng
                            trong thời gian bảo hành.
                        </p>
                    </div>
                </div>
                <div class='col-md-4 col-sm-6'>
                    <div class='single-service-item'>
                        <div class='single-service-icon'>
                            <i class='flaticon-car-1'></i>
                        </div>
                        <h2><a href='#'>Hỗ trợ bảo hiểm</a></h2>
                        <p>
                            Đối tác bảo hiểm uy tín, giúp quý khách an tâm khi
                            di chuyển.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='clients-say' class='clients-say'>
    <div class='container'>
        <div class='section-header'>
            <h2>Khách hàng nói gì</h2>
        </div>
        <div class='row'>
            <div class='owl-carousel testimonial-carousel'>

                <div class='col-sm-3 col-xs-12'>
                    <div class='single-testimonial-box'>
                        <div class='testimonial-description'>
                            <div class='testimonial-info'>
                                <div class='testimonial-img'>
                                    <img
                                        src='/vender/images/clients/c1.png'
                                        alt='Hình ảnh của khách hàng'
                                    />
                                </div>
                            </div>
                            <div class='testimonial-comment'>
                                <p>
                                    "Dịch vụ ở đây thực sự tuyệt vời! Tôi đã
                                    trải nghiệm và cảm thấy rất hài lòng về chất
                                    lượng và sự tận tâm."
                                </p>
                            </div>
                            <div class='testimonial-person'>
                                <h2><a href='#'>Nguyễn Văn A</a></h2>
                                <h4>Hà Nội</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <!-- Khách hàng 2 -->
                <div class='col-sm-3 col-xs-12'>
                    <div class='single-testimonial-box'>
                        <div class='testimonial-description'>
                            <div class='testimonial-info'>
                                <div class='testimonial-img'>
                                    <img
                                        src='/vender/images/clients/c2.png'
                                        alt='Hình ảnh của khách hàng'
                                    />
                                </div>
                            </div>
                            <div class='testimonial-comment'>
                                <p>
                                    "Tôi rất ấn tượng với thái độ phục vụ nhiệt
                                    tình của nhân viên. Xe của tôi được bảo
                                    dưỡng nhanh chóng và hiệu quả."
                                </p>
                            </div>
                            <div class='testimonial-person'>
                                <h2><a href='#'>Trần Thị B</a></h2>
                                <h4>Đà Nẵng</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <!-- Khách hàng 3 -->
                <div class='col-sm-3 col-xs-12'>
                    <div class='single-testimonial-box'>
                        <div class='testimonial-description'>
                            <div class='testimonial-info'>
                                <div class='testimonial-img'>
                                    <img
                                        src='/vender/images/clients/c3.png'
                                        alt='Hình ảnh của khách hàng'
                                    />
                                </div>
                            </div>
                            <div class='testimonial-comment'>
                                <p>
                                    "Chất lượng dịch vụ cao, giá cả hợp lý. Tôi
                                    chắc chắn sẽ quay lại khi cần bảo dưỡng xe
                                    lần tới."
                                </p>
                            </div>
                            <div class='testimonial-person'>
                                <h2><a href='#'>Lê C</a></h2>
                                <h4>Hồ Chí Minh</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id='brand' class='brand'>
    <div class='container'>
        <div class='brand-area'>
            <div class='owl-carousel owl-theme brand-item'>
                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br1.png'
                            alt='brand-image'
                        />
                    </a>
                </div>
                <!--/.item-->
                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br2.png'
                            alt='brand-image'
                        />
                    </a>
                </div>
                <!--/.item-->
                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br3.png'
                            alt='brand-image'
                        />
                    </a>
                </div>
                <!--/.item-->
                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br4.png'
                            alt='brand-image'
                        />
                    </a>
                </div>
                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br5.png'
                            alt='brand-image'
                        />
                    </a>
                </div>

                <div class='item'>
                    <a href='#'>
                        <img
                            src='/vender/images/brand/br6.png'
                            alt='brand-image'
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>