<div class="error-page">
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">{{statusCode}}</h1>
            <h2 class="display-6 mb-4">{{title}}</h2>
            <p class="lead mb-5">You either tried some shady route or you came here by mistake.
                        Whichever it is, try using the navigation.</p>
            <a href="/dashboard" class="btn btn-primary btn-lg">
                <i class="fas fa-home me-2"></i>Back to home 
            </a>
        </div>
    </div>
</div>

