<div class='modal fade' id='addReviewModal' tabindex='-1' aria-labelledby='addReviewModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='addReviewModalLabel'>Review</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class="mb-3">
        <label class="form-label">Rating</label>
        <div class="star-rating" id="starRating">
            <i class="fa-regular fa-star" data-value="1"></i>
            <i class="fa-regular fa-star" data-value="2"></i>
            <i class="fa-regular fa-star" data-value="3"></i>
            <i class="fa-regular fa-star" data-value="4"></i>
            <i class="fa-regular fa-star" data-value="5"></i>
        </div>
        </div>



          <div class='mb-3'>
            <label for='comment' class='form-label'>Comment</label>
            <textarea class='form-control' id='comment' rows='3'></textarea>
          </div>
          <div class='mb-3'>
            <label class='form-label'>Images</label>
            <div id='imageContainer' class='d-flex flex-nowrap overflow-auto'>
              <button type='button' id='addImageBtn' class='btn btn-outline-primary'>
                <i class='bi bi-plus-lg'></i>
              </button>
            </div>
            <input type='file' id='imageInput' accept='image/*' style='display: none;' />
            <input type='hidden' id='imagePaths' name='imagePaths' />
          </div>

        </form>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn btn-primary' onclick='submitReview()'>Submit Review</button>
      </div>
    </div>
  </div>
</div>
<script type='module' src='\js\user\reviewModal.js'></script>