<!-- Modal Product Detail -->
<div class='modal fade mt-5' id='productDetailModal' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog modal-xl'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='detailModalTitle'>Product Details</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class='detail-product-wrapper'>
          <div class='detail-product-images'>
            <div class='detail-main-image'>
              <img id='mainDetailImage' src='' alt='' />
            </div>
            <div class='detail-thumbnail-images' id='detailThumbnailImages'></div>
          </div>
          <div class='detail-product-info'>
            <h3 class='detail-product-title' id='detailProductTitle'></h3>
            <div class='detail-product-prices'>
              <div class='detail-product-selling-price' id='detailimportPrice'></div>
              <div class='detail-product-original-price' id='detailProductPrice'></div>
            </div>
            <p class='detail-product-description' id='detailProductDescription'></p>
            <div class='detail-product-specs' id='detailProductSpecs'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>