<!-- Modal -->
<div class='modal fade mt-5' id='productDetailModal' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog modal-xl'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='modalTitle'>Product Details</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class='product-detail-wrapper'>
          <div class='product-images'>
            <div class='main-image'>
              <img id='mainImage' src='' alt='' />
            </div>
            <div class='thumbnail-images' id='thumbnailImages'></div>
          </div>
          <div class='product-info'>
            <h3 class='product-title' id='productTitle'></h3>
            <div class='product-price' id='productPrice'></div>
            <p class='product-description' id='productDescription'></p>
            <div class='product-specs' id='productSpecs'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>