<div class="container d-flex justify-content-center align-items-center flex-column" >
    <div class="position-relative wrapper-qr" >
        <img src="" alt="QR Code" id="qr-code" class="img-fluid w-100 h-100 d-none" >
        <i class='fa fa-spinner d-none' id="icon-loading"></i>
    </div>
   
    <div class="h3">Total Price: $<span id="total-price"></span></div>
</div>

<script type="module" src="/js/shops-cart/payment.js"></script>
