<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <img src="" alt="QR Code" id="qr-code" class="img-fluid" style="max-width: 300px; max-height: 300px;">
        <div class="h3">Total Price: $<span id="total-price"></span></div>
    </div>
</body>
<script type="module" src="/js/cart/payment.js"></script>
