<footer id="contact" class="contact">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="single-footer-widget">
                <div class="footer-logo">
                  <a href="/dashboard">{{> Logo}}</a>
                </div>
                <p>
                    3N Car Dealer specializes in providing a wide range of cars from top brands worldwide, with many options suitable for all needs and budgets. Visit us now to experience excellent service!
                </p>
                <div class="footer-contact">
                  <p>contact@realestate.vn</p>
                  <p>(+84) 123 456 789</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="single-footer-widget">
                <h2>About devloon</h2>
                <ul>
                  <li><a href="about">About us</a></li>
                  <li><a href="#">Career</a></li>
                  <li>
                    <a href="#">Terms <span> of service</span></a>
                  </li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="single-footer-widget">
                <h2>Top brands</h2>
                <div class="row">
                  <div class="col-md-7 col-xs-6">
                    <ul>
                      <li><a href="#">BMW</a></li>
                      <li><a href="#">Lamborghini</a></li>
                      <li><a href="#">Camaro</a></li>
                      <li><a href="#">Audi</a></li>
                      <li><a href="#">Infiniti</a></li>
                      <li><a href="#">Nissan</a></li>
                    </ul>
                  </div>
                  <div class="col-md-5 col-xs-6">
                    <ul>
                      <li><a href="#">Ferrari</a></li>
                      <li><a href="#">Porsche</a></li>
                      <li><a href="#">Land rover</a></li>
                      <li><a href="#">Aston martin</a></li>
                      <li><a href="#">Mercedes</a></li>
                      <li><a href="#">Opel</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-6">
              <div class="single-footer-widget">
                <h2>News letter</h2>
                <div class="footer-newsletter">
                  <p>Subscribe to get latest news update and informations</p>
                </div>
                <div class="hm-foot-email">
                  <div class="foot-email-box">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Add Email"
                    />
                  </div>
                  <div class="foot-email-subscribe">
                    <span><i class="fa fa-arrow-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="row">
            <div class="col-sm-6">
              <p>
                &copy; Copyright. Designed and developed by
                <a href="https://www.themesine.com/">Themesine</a>.
              </p>
            </div>
            <div class="col-sm-6">
              <div class="footer-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-discord"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="scroll-Top">
        <div class="return-to-top">
          <i
            class="fa fa-angle-up"
            id="scroll-top"
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Back to Top"
            aria-hidden="true"
          ></i>
        </div>
      </div>
</footer>