<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ruf/na:400,700"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/icon"
      href="https://th.bing.com/th/id/OIP.SYq1khSGoX8u_8eSDjSFmgHaE_?rs=1&pid=ImgDetMain"
    />
    <link rel="stylesheet" href="/vender/css/linearicons.css" />
    <link rel="stylesheet" href="/vender/css/flaticon.css" />
    <link rel="stylesheet" href="/vender/css/animate.css" />
    <link rel="stylesheet" href="/vender/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vender/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/vender/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vender/css/bootsnav.css" />
    <link rel="stylesheet" href="/vender/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/vender/css/responsive.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/partials/auth.css" />

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const currentPage = window.location.pathname.split("/").pop();

            let customCss = document.createElement("link");
            customCss.rel = "stylesheet";

            switch (currentPage) {
                case "login":
                    customCss.href = "/css/auth/login.css";
                    break;
                case "register":
                    customCss.href = "/css/auth/register.css";
                    break;
                case "forgot-password":
                    customCss.href = "/css/auth/forgot-password.css";
                    break;
                default:
                    break;
            }

            document.head.appendChild(customCss);
        });
    </script>
</head>
<body>
    <main class="container-fuild wrapper-login position-relative">
      <button type="button" title="Quay lại" class="btn-back" id="btn-back">
        <i class="fa fa-chevron-left"></i>
        <span>Quay lại</span>
      </button>

        {{{body}}}

    </main>
    {{> ModalStatus id="success-modal" title="Đăng ký thành công" content="Tài khoản của bạn đã được tạo thành công, vui lòng kiểm tra hộp thư để kích hoạt tài khoản!" confirmButtonText="OK"}}
    {{> ModalStatus id="success-send-code-modal" title="Gửi mã thành công" content="Mã đã được gửi về email của bạn, vui lòng kiểm tra hộp thư lấy mã!" confirmButtonText="OK"}}
    {{> ModalStatus id="success-change-password-modal" title="Đặt lại mật khẩu" content="Mật khẩu đã thay đổi thành công, vui lòng đăng nhập lại!" confirmButtonText="OK"}}


    <script src="/vender/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="/vender/js/bootstrap.js"></script>
    <script src="/vender/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/vender/js/custom.js"></script>
    <script type="module" src="/js/auth/index.js"></script>
</body>
</html>