<div class='container'>
    <div class='form-container'>
        <h1 class='form-title'>Forgot Password</h1>
        <p class='form-description'>
            Please enter your registered email address. We will send a verification code to your email.
        </p>
        <form>
            <div class='form-group'>
                <label class='form-label' for='email'>Email</label>
                <div class='input-group'>
                    <input
                        type='email'
                        id='email'
                        class='form-input__email'
                        placeholder='Enter your email'
                    />
                    <button type='button' class='send-code-button'>Send Code</button>
                </div>
                <span class='fs-075 text-danger' id='email-availability-message'></span>
            </div>
            <div class='form-group'>
                <label class='form-label' for='verification-code'>Verification Code</label>
                <input
                    type='text'
                    id='verification-code'
                    class='form-input'
                    placeholder='Enter verification code'
                />
            </div>
            <div class='form-group position-relative'>
                <label class='form-label' for='new-password'>New Password</label>
                <input
                    type='password'
                    id='password'
                    class='form-input'
                    placeholder='Enter new password'
                />
                <button
                        type='button'
                        class='position-absolute end-0 top-50 me-2 p-1'
                        id='show-password'
                    >
                        <i class='fa fa-eye'></i>
                    </button>
            </div>
            <div class='form-group position-relative'>
                <label class='form-label' for='confirm-password'>Confirm New Password</label>
                <input
                    type='password'
                    id='confirm-password'
                    class='form-input'
                    placeholder='Confirm new password'
                />
                <button
                        type='button'
                        class='position-absolute end-0 top-50 me-2 p-1'
                        id='show-confirm-password'
                    >
                        <i class='fa fa-eye'></i>
                    </button>
            </div>

            <span class='fs-075 text-danger' id='message-error'></span>

            <button type='button' class='form-button' id="reset-password-btn">Reset Password</button>
        </form>
        <div class='form-footer'>
            <a href='/auth/login?returnTo=/auth/forgot-password' class='form-link'>Back to Login</a>
        </div>
    </div>
</div>
<script type="module" src="/js/auth/forgot-password.js"></script>